# Configuración de la Base de Datos
DB_HOST=localhost
DB_NAME=auth_base
DB_USER=tu_usuario
DB_PASS=tu_contraseña
DB_CHARSET=utf8mb4

# Configuración de la Aplicación
APP_URL=tu_url_de_aplicacion
TIMEZONE=tu_zona_horaria
DEBUG=true